  /* Cores */
  $heading: #0C3440;
  $label: #00453A;
  $input: #212529;
  $bg-input: #DCE2E9;
  $accent: #02799D;
  $border: rgba(73,80,87,0.3);
  $placeholder: rgba(73,80,87,0.5);
  $text-light: #FFFFFF;
  $error: #F03E3E;
