@media (max-width: 576px) {
  .container {
    padding-inline: 1.25rem;
  }
  .title {
    font-size: 1.75rem;
  }
  .card {
    padding: 2rem 2rem 3rem;
  }
  .modal-wrapper {
    padding-inline: 1.25rem;
  }
}
